<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://kritsit.ddns.net:3306/pawc_db?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">pawc</property>
    <property name="hibernate.connection.password">tetrof</property>
    <mapping resource="pawc/webapp/persistence/Userpass.hbm.xml"/>
    <mapping resource="pawc/webapp/persistence/Wall.hbm.xml"/>
    <mapping resource="pawc/webapp/persistence/Info.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
